<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FunnyMath"
        tools:targetApi="31">
        <activity
            android:name=".Congrats"
            android:exported="false" />
        <activity
            android:name=".FinalResult"
            android:exported="false" />
        <activity
            android:name=".EvaluatingFinal"
            android:exported="false" />
        <activity
            android:name=".Plus_difference_theory"
            android:exported="false" />
        <activity
            android:name=".Plus_difference_quiz"
            android:exported="false" />
        <activity
            android:name=".FactorMasterPro"
            android:exported="false" />
        <activity
            android:name=".Trinomial_theory"
            android:exported="false" />
        <activity
            android:name=".Trinomial_quiz"
            android:exported="false" />
        <activity
            android:name=".Perfect_square_trinomial_quiz"
            android:exported="false" />
        <activity
            android:name=".Perfect_square_trinomial_theory"
            android:exported="false" />
        <activity
            android:name=".FactoFaster"
            android:exported="false" />
        <activity
            android:name=".Difference_squares_theory"
            android:exported="false" />
        <activity
            android:name=".Difference_squares_quizz"
            android:exported="false" />
        <activity
            android:name=".Memorama"
            android:exported="false" />
        <activity
            android:name=".Quiz_result"
            android:exported="false" />
        <activity
            android:name=".Evaluating2"
            android:exported="false" />
        <activity
            android:name=".Evaluating"
            android:exported="false" />
        <activity
            android:name=".Common_factor_quizz"
            android:exported="false" />
        <activity
            android:name=".Common_factor_puzzle"
            android:exported="false" />
        <activity
            android:name=".Common_factor_theory"
            android:exported="false" />
        <activity
            android:name=".Difference_squares"
            android:exported="false" />
        <activity
            android:name=".Floating_button"
            android:exported="false" />
        <activity
            android:name=".Plus_difference"
            android:exported="false" />
        <activity
            android:name=".Trinomial"
            android:exported="false" />
        <activity
            android:name=".trinomial"
            android:exported="false" />
        <activity
            android:name=".Perfect_square_trinomial"
            android:exported="false" />
        <activity
            android:name=".Common_factor"
            android:exported="false" />
        <activity
            android:name=".BottomMenu"
            android:exported="false" />
        <activity
            android:name=".Signin"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>